body {
  min-height: 100vh;
  margin: 0;
  background-color: #A8C0CE;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 48px;
  color: wheat;
}

.title {
  margin: 4px;
  font-size: 20px;
}

.app-version {
  margin-bottom: 16px;
}

.app-version a {
  color: #768591;
}

.simple-table {
  background-color: white;
}

.customised-table .simple-table {
  background-color: #EEEC00;
}

.customised-table .simple-table .simple-table-cell {
  border-color: #AAB0B5;
  color: #768591;
}

.customised-table {
  margin-top: 16px
}

.table-title {
  text-align: center;
}

.table-caption {
  margin-top: 8px;
  text-align: center;
  font-size: 14px;
}
