body {
  min-height: 100vh;
  margin: 0;
  background-color: #a8c0ce;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 48px;
  color: wheat;
}

.title {
  margin: 4px;
  font-size: 20px;
}

.app-version {
  margin-bottom: 16px;
}

.app-version a {
  color: #768591;
}

.simple-table {
  background-color: white;
}

.customised-table .simple-table {
  background-color: #eeec00;
}

.customised-table .simple-table .simple-table-cell {
  border-color: #aab0b5;
  color: #768591;
}

.customised-table .simple-table .simple-table-head {
  background-color: #aab0b5;
}

.customised-table {
  margin-top: 16px;
}

.table-title {
  text-align: center;
}

.table-caption {
  margin-top: 8px;
  text-align: center;
  font-size: 14px;
}
